
## Stephen Ivkov

Energy_Indicators.csv contains a list of indicators of energy supply and the percentage of renewable electricity production from the United Nations for the year 2013.

Global_GDP.csv contains countries' GDP from 1960 to 2017 from Wold Bank.

datasets sourced from: http://unstats.un.org/unsd/ENVIRONMENT/qindicators.htm

In [1]:
# Don't delete this cell
# Execute this cell to import pandas & numpy, and load data to DataFrames.

import pandas as pd
import numpy as np
#from pandas import DataFrame
pd.options.display.max_rows = 20
energy = pd.ExcelFile('Energy_Indicators.xls')
energy = energy.parse(skiprows=17,skip_footer=(38))

energy.columns = ["NaN","Country Name","Country_bak","Energy Supply", "Energy Supply per Capita", "Renewable Percentage"]
energy = energy.drop(["NaN", "Country_bak"],axis=1)
gdp = pd.read_csv("Global_GDP.csv")

To clean this databse up a bit lets do the following. 

- For all the countries that have missing data (e.g., data with '...'), represent them as np.NaN values. 

- Lets rename some the following list of countries: 
        "Republic of Korea": "South Korea",
        "United States of America": "United States",
        "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
        "China, Hong Kong Special Administrative Region": "Hong Kong"

In [8]:
energy = energy.replace({"...": np.nan, "Republic of Korea": "South Korea", "United States of America": "United States",
 "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
 "China, Hong Kong Special Administrative Region": "Hong Kong"
 })
def energysupgj (x):
    return x*1000000
energy['Energy Supply']= energy['Energy Supply'].apply(energysupgj)
#energy.sort_values(by="Energy Supply", ascending = "False")
energy

,Country Name,Energy Supply,Energy Supply per Capita,Renewable Percentage
0,Afghanistan,3.210000e+20,10.0,78.669280
1,Albania,1.020000e+20,35.0,100.000000
2,Algeria,1.959000e+21,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.000000e+18,121.0,88.695650
...,...,...,...,...
260,… denotes no data available.,NaN,NaN,NaN
261,NaN,NaN,NaN,NaN
262,Data Quality:,NaN,NaN,NaN
263,The data are compiled primarily from the annua...,NaN,NaN,NaN
264,"For more information, visit http://unstats.un....",NaN,NaN,NaN

1.Lets Rename the following list of countries in "Country Name": 
        "Korea, Rep.": "South Korea", 
        "Iran, Islamic Rep.": "Iran",
        "Hong Kong SAR, China": "Hong Kong"
        
2. Lets analyze the last 5 years by adding the column "Country Name" and the last 5 years (2013-2017) of GDP data to the DataFrame **GDP**.

In [11]:
gdp = gdp.replace({"Korea, Rep.": "South Korea", 
 "Iran, Islamic Rep.": "Iran",
 "Hong Kong SAR, China": "Hong Kong"})
#GDP = DataFrame(0,columns=['Country Name', 2013, 2014, 2015, 2016, 2017])
#gdp.loc[, core_cols] = df_small.loc[new_ids, core_cols]
#GDP = gdp.filter(['Country Name','2013', '2014', '2015', '2016', '2017'], axis=1)
GDP = gdp.copy()
GDP = GDP.sort_index()
GDP= gdp.loc[:, ('Country Name','2013', '2014', '2015', '2016', '2017')]
#GDP = gdp.loc[:, 'Country Name','2013':'2017']
GDP

,Country Name,2013,2014,2015,2016,2017
0,Aruba,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10
2,Angola,1.250000e+11,1.270000e+11,1.030000e+11,9.533720e+10,1.240000e+11
3,Albania,1.277628e+10,1.322824e+10,1.138693e+10,1.188368e+10,1.303935e+10
4,Andorra,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09
...,...,...,...,...,...,...
259,Kosovo,7.073420e+09,7.386891e+09,6.439947e+09,6.715487e+09,7.128691e+09
260,"Yemen, Rep.",4.041524e+10,4.322858e+10,3.460248e+10,1.821333e+10,NaN
261,South Africa,3.670000e+11,3.510000e+11,3.180000e+11,2.960000e+11,3.490000e+11
262,Zambia,2.804546e+10,2.715063e+10,2.115439e+10,2.095475e+10,2.580867e+10
263,Zimbabwe,1.545177e+10,1.589105e+10,1.630467e+10,1.661996e+10,1.784582e+10


Lets join the dataset **energy** and **GDP**. Create a new DataFrame **energyGDP** which selects the top 10 countries in energy supply of the joined dataset. Set the column "Country Name" to be the index of "energyGDP".
  
#### Steps ill take:   
1. Merge **energy** and **GDP** with the key "Country Name".
2. Sort the merged dataset by the values in the column 'Energy Supply' in descending order.
3. Select the first 10 rows of the sorted dataset and assign it to **energyGDP**.
4. Set the column "Country Name" to be the index of "energyGDP".

In [12]:
energyGDP = pd.merge(energy, GDP, how='inner', on="Country Name")
energyGDP.replace("...", np.nan)
energyGDP.set_index('Country Name', inplace=True)

#start of sorting attempts::::energyGDP.sort_values(by= 'Energy Supply')::::energyGDP.sort_values(['Energy Supply'], inplace=True)
energyGDP = energyGDP.sort_values(by= 'Energy Supply', ascending=False)
#2nd try::
#energy.merge(GDP, how='inner', on ="Country Name")::energy.sort_values("Energy Supply")

energyGDP = energyGDP.head(10) 
energyGDP

,Energy Supply,Energy Supply per Capita,Renewable Percentage,2013,2014,2015,2016,2017
Country Name,,,,,,,,
China,1.271910e+23,93.0,19.754910,9.610000e+12,1.050000e+13,1.110000e+13,1.120000e+13,1.220000e+13
United States,9.083800e+22,286.0,11.570980,1.670000e+13,1.740000e+13,1.810000e+13,1.860000e+13,1.940000e+13
India,3.319500e+22,26.0,14.969080,1.860000e+12,2.040000e+12,2.100000e+12,2.270000e+12,2.600000e+12
Russian Federation,3.070900e+22,214.0,17.288680,2.300000e+12,2.060000e+12,1.370000e+12,1.280000e+12,1.580000e+12
Japan,1.898400e+22,149.0,10.232820,5.160000e+12,4.850000e+12,4.390000e+12,4.950000e+12,4.870000e+12
Germany,1.326100e+22,165.0,17.901530,3.750000e+12,3.890000e+12,3.380000e+12,3.480000e+12,3.680000e+12
Brazil,1.214900e+22,59.0,69.648030,2.470000e+12,2.460000e+12,1.800000e+12,1.790000e+12,2.060000e+12
South Korea,1.100700e+22,221.0,2.279353,1.310000e+12,1.410000e+12,1.380000e+12,1.410000e+12,1.530000e+12
France,1.059700e+22,166.0,17.020280,2.810000e+12,2.850000e+12,2.440000e+12,2.470000e+12,2.580000e+12
Canada,1.043100e+22,296.0,61.945430,1.840000e+12,1.800000e+12,1.560000e+12,1.540000e+12,1.650000e+12

Creating a meanGDP feature along with its ratio to energy supply. 
#### Steps:   
1. Create a new column called "Mean GDP" which records the average GDP in the last 5 years (2013-2017).
2. Create a new column called "E2GRatio" which records the ratio of "Energy Supply" to "Mean GDP".

In [13]:
energyGDP['Mean GDP'] = energyGDP.mean(numeric_only=True, axis=1)
energyGDP['E2GRatio'] = energyGDP['Energy Supply']/energyGDP['Mean GDP']
energyGDP

,Energy Supply,Energy Supply per Capita,Renewable Percentage,2013,2014,2015,2016,2017,Mean GDP,E2GRatio
Country Name,,,,,,,,,,
China,1.271910e+23,93.0,19.754910,9.610000e+12,1.050000e+13,1.110000e+13,1.120000e+13,1.220000e+13,1.589888e+22,8.0
United States,9.083800e+22,286.0,11.570980,1.670000e+13,1.740000e+13,1.810000e+13,1.860000e+13,1.940000e+13,1.135475e+22,8.0
India,3.319500e+22,26.0,14.969080,1.860000e+12,2.040000e+12,2.100000e+12,2.270000e+12,2.600000e+12,4.149375e+21,8.0
Russian Federation,3.070900e+22,214.0,17.288680,2.300000e+12,2.060000e+12,1.370000e+12,1.280000e+12,1.580000e+12,3.838625e+21,8.0
Japan,1.898400e+22,149.0,10.232820,5.160000e+12,4.850000e+12,4.390000e+12,4.950000e+12,4.870000e+12,2.373000e+21,8.0
Germany,1.326100e+22,165.0,17.901530,3.750000e+12,3.890000e+12,3.380000e+12,3.480000e+12,3.680000e+12,1.657625e+21,8.0
Brazil,1.214900e+22,59.0,69.648030,2.470000e+12,2.460000e+12,1.800000e+12,1.790000e+12,2.060000e+12,1.518625e+21,8.0
South Korea,1.100700e+22,221.0,2.279353,1.310000e+12,1.410000e+12,1.380000e+12,1.410000e+12,1.530000e+12,1.375875e+21,8.0
France,1.059700e+22,166.0,17.020280,2.810000e+12,2.850000e+12,2.440000e+12,2.470000e+12,2.580000e+12,1.324625e+21,8.0
Canada,1.043100e+22,296.0,61.945430,1.840000e+12,1.800000e+12,1.560000e+12,1.540000e+12,1.650000e+12,1.303875e+21,8.0

Counries with the highest renewable percentage along with the smallest energy supply to mean gdp ratio. 
1. Find the country with the highest "Renewable Percentage".
2. Find the country with the least ratio of "Energy Supply" to "Mean GDP".

In [14]:
RPmax = energyGDP['Renewable Percentage'].idxmax()
E2Gmin = energyGDP['E2GRatio'].idxmin()
RPmax, E2Gmin

('Brazil', 'Germany')